body {
	background-image: url('../images/background.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: Century;
	font-size: 14px;
}

h1 {
	font-family: "Arial Black";
	text-align: center;
	font-size: 36px;
	padding: 20px;
}

h2 {
	font-family: Copperplate;
	font-size: 28px;
	display: block;
	margin-left: 140px;
	line-height: 50%;
}

div {
	padding-bottom: 10px;
}

p {
	text-indent: 20px;
	display: block;
	text-align: justify;
	margin-left: 200px;
	margin-right: 200px;
}