body {
	background-image: url('../images/background.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: Century;
	font-size: 14px;
}

div {
	padding-top: 12px;
}

h1 {
	font-family: "Arial Black";
	text-align: center;
	font-size: 36px;
}

h2 {
	font-family: Avenir;
	font-size: 14px;
	text-align: center;
}

h3.section_head {
	font-family: "Copperplate";
	line-height: 50%;
	font-size: 28px;
	display: block;
	text-indent: 10px;
}

h4.subsection {
	font-family: Avenir;
	display: inline;
	font-size: 16px;
	line-height: 50%;
	margin-left: 40px;
}

h4.subtitle {
	font-family: Century;
	font-style: italic;
	display: inline;
	margin-left: 40px;
}

p {
	display: block;
	margin-left: 40px;
}

ul.bullets {
	margin-left: 20px;
	list-style-type: circle;
}

ul.no_bullets {
	list-style-type: none;
}
